# Sign Language Recognition Model - Requirements
# Python 3.10+
# Install with: pip install -r requirements.txt

kagglehub==0.3.13
matplotlib==3.10.6
matplotlib-inline==0.1.7
numpy==2.0.1
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
pandas==2.2.2
scikit-learn==1.7.2
tensorflow==2.20.0
